body{
    margin: 10;
    padding: 20;
    display: flex;
    font-family: Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.main{
    padding: 0 20px;
    margin: 0 370px;
    align-items: center;
}
